<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Details of Good</title>-->
<!--    <link rel="stylesheet"-->
<!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    &lt;!&ndash; jquery &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>-->
<!--    &lt;!&ndash; bootstrap &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>-->
<!--    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>-->
<!--    &lt;!&ndash; jquery-validator &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>-->
<!--    &lt;!&ndash; layer &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>-->
<!--    &lt;!&ndash; md5.js &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>-->
<!--    &lt;!&ndash; common.js &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/js/common.js}"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="panel panel-default">-->
<!--    <div class="panel-heading">Goods Details for Quick Sale Event</div>-->
<!--    <div class="panel-body">-->
<!--        <span th:if="${user eq null}">Please login for further operation<br/></span>-->
<!--        <span>No valid delivery address</span>-->
<!--    </div>-->
<!--    <table class="table" id="goodslist">-->
<!--        <tr>-->
<!--            <td>Name of Goods</td>-->
<!--            <td colspan="3" th:text="${goods.goodsName}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Image of Goods</td>-->
<!--            <td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Quick Sale Event Start Time</td>-->
<!--            <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
<!--            <td id="quickSaleTip">-->
<!--                <input type="hidden" id="remainSeconds" th:value="${remainSeconds}"/>-->
<!--                <span th:if="${quickSaleStatus eq 0}">Count Down：<span id="countDown" th:text="${remainSeconds}"></span>秒</span>-->
<!--                <span th:if="${quickSaleStatus eq 1}">Under Way</span>-->
<!--                <span th:if="${quickSaleStatus eq 2}">Expired</span>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form id="miaoshaForm" method="post" action="/quicksale/do_quicksale">-->
<!--                    <button class="btn btn-primary btn-block" type="submit" id="buyButton">Have It Now !</button>-->
<!--                    <input type="hidden" name="goodsId" th:value="${goods.id}"/>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Original Price</td>-->
<!--            <td colspan="3" th:text="${goods.goodsPrice}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Special Price</td>-->
<!--            <td colspan="3" th:text="${goods.quicksalePrice}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Storage</td>-->
<!--            <td colspan="3" th:text="${goods.stockCount}"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--</body>-->
<!--</body>-->
<!--<script>-->
<!--$(function(){-->
<!--	countDown();-->
<!--});-->

function countDown(){
	var remainSeconds = $("#remainSeconds").val();
	var timeout;
	if(remainSeconds > 0){ // Event not happening right now
		$("#buyButton").attr("disabled", true);
		timeout = setTimeout(function(){
			$("#countDown").text(remainSeconds - 1);
			$("#remainSeconds").val(remainSeconds - 1);
			countDown();
		},1000);
	}else if(remainSeconds == 0){ // Event is under way
		$("#buyButton").attr("disabled", false);
		if(timeout){
			clearTimeout(timeout);
		}
		$("#quickSaleTip").html("Quick Sale Event Under the Way");
	}else{ // Event expired
		$("#buyButton").attr("disabled", true);
		$("#quickSaleTip").html("Event Expired");
	}
}

<!--</script>-->
<!--</html>-->